<!DOCTYPE html>
<HTML>
<HEAD>
<TITLE>Author</TITLE>
<link rel="stylesheet" href="../resources/css/default.css"
	type="text/css" />

</HEAD>

<BODY style="height: 100%; margin: 20px 20px 30px 50px;">
	<fieldset class="legendnew">
		<legend class="legend">系统说明</legend>
		<p>
			依赖于58同城开源web框架argo.<a scr="https://github.com/58code/Argo">项目地址</a>
		</p>
		<p>
			依赖于58同城开源web框架argo.<a scr="https://github.com/58code/Argo">项目地址</a>
		</p>
	</fieldset>

	<fieldset class="legendnew">
		<legend class="legend">作者</legend>
		<p>王亚洲</p>
		<p>58同需招聘技术部 高级软件工程师</p>
	</fieldset>
</BODY>
</HTML>