<!DOCTYPE html>
<HTML>
<HEAD>
<TITLE>Author</TITLE>
<link rel="stylesheet" href="../resources/css/default.css"
	type="text/css" />
<link rel="stylesheet" href="../resources/css/zTreeStyle/zTreeStyle.css"
	type="text/css">
<link rel="stylesheet" href="../resources/css/demo.css" type="text/css">

</HEAD>

<BODY style="height: 80%; margin: 10px 20px 5px 50px;">
	<div>
		<ul class="info">
			<li class="title"><h2>1、系统说明</h2>
				<ul class="list">
					<li class="li_title">依赖于58同城的开源web框架<a src="https://github.com/58code/Argo">argo</a>,零配置.</li>
					<li class="li_title"></li>
				</ul></li>
			<li class="title"><h2>2、treeNode 节点数据说明</h2>
				<ul class="list">
					<li class="li_title">异步加载功能对于 treeNode 节点数据没有特别要求，如果采用简单 JSON 数据，请设置
						setting.data.simple 中的属性</li>
					<li class="li_title">如果异步加载每次都只返回单层的节点数据，那么可以不设置简单 JSON 数据模式</li>
				</ul></li>
			<li class="title"><h2>3、作者</h2>
				<ul class="list">
					<li class="li_title">58同城高级软件工程师</li>
					<li class="li_title"></li>
				</ul></li>
		</ul>
	</div>
</BODY>
</HTML>