<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ZooViewer</title>
<link rel="stylesheet" href="../resources/css/default.css"
	type="text/css" />
<script type="text/javascript" src="../resources/js/jquery-1.7.1.min.js"></script>
</head>
<script type="text/javascript">
	$(document).ready(function() {
		fitheight();
	});

	function fitheight() {
		//iframe自适应高度
		$("#content").load(function() {
			var mainheight = $(window).height() - 75;
			$(this).height(mainheight);
		});
	}
</script>


<body>
	<div id="leftColumn">
		<div id="systemName" style="margin-top: 10px;">
			<img src="../resources/img/view.png">
		</div>
		<div id="navcolumn">
			<ul>
				<li>Monitor
					<ul>
						<li><a href="/znode" target="content">节点查看</a></li>
						<li><a href="/fcmd" target="content">运维命令</a></li>
						<li><a href="/cluster" target="content">集群配置</a></li>
					</ul>
				</li>
				<br>
				<li>Admin
					<ul>
						<li><a href="http://www.baidu.com" target="content">报警开关</a></li>
						<li><a href="http://www.baidu.com" target="content">系统设置</a></li>
						<li><a href="/auth" target="content">关于应用</a></li>
					</ul>
				</li>
				<br>
			</ul>
		</div>
		<!-- 
		<div id="logo" style="margin-top: 180px;">
			<img src="/img/logo.png">
		</div> -->
	</div>
	<div id="rightColumn">
		<iframe id="content" name="content" src="/auth" frameborder="0"
			width="100%" height="580px;"></iframe>
	</div>
	<div class="clear"></div>
	<div id="footer">
		<div class="xright">
			<p>
				Auth <a href="" style="color: blue;">Wang YaZhou</a>
				&nbsp;&nbsp;&nbsp; Powered by <a
					href="http://www.oracle.com/technetwork/cn/java/javase/downloads/index.html"
					style="color: blue;">Java</a>.
			</p
		</div>
		<div class="clear"></div>
	</div>

</body>
</html>