<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<style>
a{
   float:left;
   width:51%;
   margin:3px 0px;
}
legend{
	font-size: 14px;
	font-weight: bold;
}
.type{
	color:blue;
	font-weight: bold;
}
</style>

<body>
	<fieldset>
		<legend>B端接口</legend>
	    <a class="type">client</a>
		<a href="http://jiujin.58.com/console/view">1. http://jiujin.58.com/console/view</a>
		<a href="http://jiujin.58.com/apiB/client/getConfig?curVersion=1.0.0.0&v=1.0&time=1399948559191&format=json&uid=&sig=9603d5423066f6e76dc3369d32b4a6aa">2. http://jiujin.58.com/apiB/client/getConfig</a>
		<a href="http://jiujin.58.com/apiB/client/checkVersion">3. http://jiujin.58.com/apiB/client/checkVersion</a>
	    <a>company</a>
		<a href="http://jiujin.58.com/apiB/company/login?userID=16819944782855&v=1.0&time=1399859504546&format=json&uid=111&sig=586042fdc5b25fcfedd3ceb7a7bbd8aa">1. /apiB/company/login</a>
		<a href="http://jiujin.58.com/apiB/company/getResumeList?targetCateID=&updateDate=&start=0&v=1.0&time=1399948564505&format=json&uid=111&sig=f3589a2158e0d6abd6f46d4ffdc09f82">2. /apiB/company/getResumeList</a>
		<a href="http://jiujin.58.com/apiB/company/getJobList">3. http://jiujin.58.com/apiB/company/checkVersion</a>
		<a href="http://jiujin.58.com/apiB/company/deleteJob">4. http://jiujin.58.com/apiB/company/checkVersion</a>
		<a href="http://jiujin.58.com/apiB/company/updateJob">5. http://jiujin.58.com/apiB/company/checkVersion</a>
		<a href="http://jiujin.58.com/apiB/company/updateInfo">6. http://jiujin.58.com/apiB/company/checkVersion</a>
		<a href="http://jiujin.58.com/apiB/company/updateJob">7. http://jiujin.58.com/apiB/company/checkVersion</a>
		<a href="http://jiujin.58.com/apiB/company/getAttentionResume">8. http://jiujin.58.com/apiB/company/checkVersion</a>
		<a href="http://jiujin.58.com/apiB/company/getNotifyStatus">9. http://jiujin.58.com/apiB/company/checkVersion</a>
		<a href="http://jiujin.58.com/apiB/company/updateNotifyStatus">10. http://jiujin.58.com/apiB/company/checkVersion</a>
		<a href="http://localhost/apiB/company/uploadLogo?userID=16819944782855&v=1.0&time=1399859504546&format=json&uid=111&sig=586042fdc5b25fcfedd3ceb7a7bbd8aa">测试</a>
		<a href="http://jiujin.58.com/apiB/company/getMobile">12. http://jiujin.58.com/apiB/company/checkVersion</a>
		
		<a>contact</a>
		<a href="http://jiujin.58.com/apiB/contact/getInvitedList?start=0&v=1.0&time=1399948567138&format=json&uid=111&sig=44be9dba579a43ddee1aef89f33a0641">1. http://jiujin.58.com/apiB/contact/getInvitedList</a>
		<a href="http://jiujin.58.com/apiB/contact/getApplyRecordList">2. http://jiujin.58.com/apiB/contact/getApplyRecordList</a>
		<a href="http://jiujin.58.com/apiB/contact/processApply">3. http://jiujin.58.com/apiB/contact/processApply</a>
		<a href="http://jiujin.58.com/apiB/contact/getJobSelect">4. http://jiujin.58.com/apiB/contact/getJobSelect</a>
		<a href="http://jiujin.58.com/apiB/contact/getJobSelect">5. http://jiujin.58.com/apiB/contact/getJobSelect</a>
	</fieldset>
	

	<fieldset>
		<legend>C端接口</legend>
	    <a  class="type">client</a>
		<a href="http://jiujin.58.com/console/view">1. http://jiujin.58.com/console/view</a>
		<a href="http://jiujin.58.com/apiB/client/getConfig">2. http://jiujin.58.com/apiB/client/getConfig</a>
		<a href="http://jiujin.58.com/apiB/client/checkVersion">3. http://jiujin.58.com/apiB/client/checkVersion</a>
	    <a>Resume</a>
	</fieldset>
	
	
	
	
   
</body>
</html>